* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 75rem;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  padding: 5rem 1rem;
  background-color: #f2effe;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  background-color: #9674f9;
  color: #ffffff;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
}

.todo-item {
  min-width: 85%;
}

.todo-item > button {
  width: 100%;
}
