* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 75rem;
  margin: 0 auto;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  padding: 5rem 1rem;
  background-color: #f2effe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar button {
  background-color: inherit;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}

.sidebar button:hover {
  background-color: #9674f9;
  color: #ffffff;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 7rem 0;
  position: relative;
  height: 100%;
}

.todo-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  padding-left: 1.5rem;
  min-width: 85%;
  height: 3rem;
  border-radius: 8px;
  background-color: #cfbefe;
  font-size: 14px;
}

.todo-list > button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #6640d8;
  color: #ffffff;
  font-size: 18px;
}

.title-bar {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  background-color: #cfbefe;
  padding: 0.5rem;
}

#add-task {
  position: fixed;
  top: 30%;
  margin: 0 auto;
  border: none;
  background-color: #f2effe;
  width: 25rem;
  height: 15rem;
  border-radius: 3px;
}

.dialog-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.dialog-side {
  border-right: 1px solid;
}

form.dialog {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex: 1;
  align-items: flex-start;
  padding-top: 2rem;
}

.title-bar button {
  border: none;
  background-color: inherit;
  font-size: 14px;
}
